@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Teko:wght@400;700&display=swap');
:root{
    --primary-color: #00BFA6;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0rem;
}


/* Containers */
.container {
    padding: 0 rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

hr{
    margin: 3rem;
}
/* Links */
.links{
    text-decoration: none;
    padding: 0.2rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    
}
.link-secondary{
    color:var(--primary-color);
    padding: 0.2rem 1 rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color:white;
    font-weight: bold;
}

/* List */
.list-non-bullet{
    list-style: none;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
/* Nav bar */

.navigation{
background-color: var(--primary-color);
color: white;
padding: 1rem;
border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.5rem;
}
.navigation .links{
    color: white;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link-active{
    font-weight: bold;
}

/* Heading */
.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}
.hero .hero-heading .hero-heading-gradient{
    color: black;
}

/* Section */
.section{
    padding: 1rem;
    text-align: center;
}
.section .section-heading{
    padding: 2rem;
    text-align: center;
}
.section-offwhite{
    background-color: rgb(243, 241, 239);
}
.section .section-paragraph{
    padding: 0.2rem;
}
.section-paragraph{
    padding: 1rem;
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    margin-top: 1rem ;
    margin-left: 0rem;
    margin-right: 0rem;
}
.footer .links{
    color: white;
}
.footer .ul{
    padding-inline-start: 0px;
}